@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: rgb(0, 0, 0);
    --background-start-rgb: #f7fafc;
    --background-end-rgb: rgb(255, 255, 255);
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: rgb(255, 255, 255);
        --background-start-rgb: #f7fafc;
        --background-end-rgb: rgb(0, 0, 0);
    }
}
body {
    background-color: var(--background-start-rgb) !important;
    color: var(--background-end-rgb) !important;
}
