.navHeader {
    position: sticky;
    z-index: 30;
    top: 0;
}
.link {
    color: #cfd9e0;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.navBar {
    display: flex;
    height: 40px;
    padding: 16px;
    align-items: center;
    background-color: rgb(22, 27, 34);
}

.navMenuList {
    display: flex;
    width: 50%;
    gap: 24px;
}
.active {
    padding-bottom: 2px;
    border-bottom: 2px solid #fff;
    color: #fff;
}

.icon {
    width: 14px;
}
